.menuCont {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  align-items: center;
}

.menuPrin {
  display: flex;
  align-items: center;
  gap: 40px;
}

.menuCont a {
  font-size: 0.9375rem;
  color: var(--GrayishViolet);
  font-weight: bold;
  transition: 0.3s all;
}

.menuCont a:hover {
  color: var(--VeryDarkBlue);
}

.ulPrin {
  display: flex;
}

.ulPrin li a,
.ulSingLogin .login {
  padding: 15px;
}

.ulSingLogin {
  display: flex;
  gap: 35px;
}

.ulSingLogin .btnSing {
  border-radius: 28px;
  background: var(--Cyan);
  color: white;
  padding: 9px 24px;
  transition: 0.3s all;
}

.btnloginMobile{
  display: block;
  border-radius: 28px;
  background: var(--Cyan);
  color: white;
  padding: 9px 24px;
  transition: 0.3s all;
}

.ulSingLogin .btnSing:hover {
  color: white;
  background: #9ae3e3;
}

.btnMobile {
  display: none;
  background-color: transparent;
  border: none;
  padding:12px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  position: relative;
  z-index: 300;
  cursor: pointer;
}

.btnMobile::before {
  margin-right: 4px;
  content: "";
  display: inline-block;
  height: 4px;
  width: 26px;
  background-color: #9e9aa8;
  box-shadow: 0 10px #9e9aa8, 0 -10px #9e9aa8;
  transition: 0.3s all;
  cursor: pointer;
}

.ulMobile{
  display: none;
}

@media (max-width: 999px) {
  .ulPrin,
  .ulSingLogin {
    display: none;
  }

  .btnMobile {
    display: flex;
    position: relative;
  }
  .ativoMobile.btnMobile::before{
    box-shadow: 0 10px #2acfcf, 0 -10px #2acfcf;
    background: #2acfcf;
  }
  .ulMobile{
    background: var(--DarkViolet);
    position: absolute;
    border-radius: 10px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: 100px;
    padding: 40px;
    z-index: 9999;
    display: block;
    animation: animaLeft forwards .5s;
  }

  .ulMobile li a {
    color: white;
  }
  .ulMobile li a:hover {
    color: rgb(209, 209, 209) !important;
  }
  
  
  .menup1 {
    padding-bottom: 30px;
  }

  .lineMenu{
    margin-bottom: 30px;
    width: 100%;
    height: 1px;
    top: 38px;
    left: 0;
    opacity: 0.25;
    background: #9E9AA8;
  }
}


@keyframes animaLeft{
  from {
    top: 0px;
  }

  to {
    top: 100px;
  }
}